.player {
  padding: 0;

  &__card {
    max-width: 220px;
    text-align: center;
    position: relative;
    transition: transform 1s;
    height: 300px;
    padding-top: 10px;
    margin-top: -20px; 

    &:hover {
      z-index: 1;
      transform: scale(1.2);
      background-color: #EEEEEE;
      border-radius: 12px;
    }

    &:hover img {
      border-radius: 60px;
    }

    &:hover .player__name {
      padding-bottom: 11px;
    }

    &:hover .player__money {
      display: block;
    }

    @for $rank from 1 through 10 {
      &:nth-child(#{$rank}):after {
        content: "#{$rank}";
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: $light-color;
        bottom: 100px;
        right: calc(50% - 16px);
        border-radius: 50%;
        color: #8B0000;
        font-size: 16px;
        line-height: 32px;
        border: 1px solid #8B0000;
      }
    }
  }

  &__photo {
    position: relative;
    margin-bottom: 8px;
    width: 200px;
    height: auto;
    border-radius: 50%;
    transition: 1s;
  }

  &__name {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
  }

  &__money {
    display: none;
    font-size: 21.6px;
    line-height: 25px;
    color: #000000;

    &>span:before {
      content: "$";
    }

    &>span:after {
      content: "M";
    }
  }
}