// Responsive
//$tablet-max-width: 1024px;
$mobile-max-width: 750px;

// Colors
$main-color: #2F4F4F; // black
$light-color: #fff; // white

// Fonts
$main-weight: 400;
$bold-weight: 700;
$main-size: 20px;
$main-height: 1.5;
