// Responsive
$mobile-max-width: 999px;
$mobiles-max-width: 425px;

// Colors
$main-color: #2F4F4F; // black
$light-color: #fff; // white

// Fonts
$main-weight: 400;
$bold-weight: 700;
$main-size: 20px;
$main-height: 1.5;
